# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VSCode
.vscode/

# STM32CubeIDE
.settings/
[Dd]ebug/
[Dd]drivers/
[Rr]elease/
*.launch
*.xml
.cproject
.mxproject
STM32L010RBTX_FLASH.ld
